<section class="section yachts" id="yachts">
  <div class="container">
    <h2 class="yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-item">
        <picture class="our-yachts-picture"></picture>
        <div class="specifications-subtitle">
          <p class="yachts-name">ARROW</p>
          <p class="yachts-type">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-details-list">
          <li class="yachts-specifications">LENGTH</li>
          <li class="yachts-specifications">BUILDER</li>
          <li class="yachts-specifications">BUILT</li>
          <li class="yachts-specifications">GUESTS</li>
          <li class="yachts-specifications">PRICE</li>
          <li class="yachts-specifications">48m(155ft)</li>
          <li class="yachts-specifications">Admiral</li>
          <li class="yachts-specifications">2021</li>
          <li class="yachts-specifications">11 in 5 cabins</li>
          <li class="yachts-specifications">€33,500,000</li>
        </ul>
      </li>
 <li class="yachts-item">
        <picture class="our-yachts-picture"></picture>
        <div class="specifications-subtitle">
          <p class="yachts-name">BENETTI OASIS 40M BO122</p>
          <p class="yachts-type">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-details-list">
          <li class="yachts-specifications">LENGTH</li>
          <li class="yachts-specifications">BUILDER</li>
          <li class="yachts-specifications">BUILT</li>
          <li class="yachts-specifications">GUESTS</li>
          <li class="yachts-specifications">PRICE</li>
          <li class="yachts-specifications">41m (133ft)</li>
          <li class="yachts-specifications">Benetti</li>
          <li class="yachts-specifications">2025</li>
          <li class="yachts-specifications">10 in 5 cabins</li>
          <li class="yachts-specifications">€23,210,000</li>
        </ul>
      </li>
     <li class="yachts-item">
        <picture class="our-yachts-picture"></picture>
        <div class="specifications-subtitle">
          <p class="yachts-name">BELLE ANNA</p>
          <p class="yachts-type">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-details-list">
          <li class="yachts-specifications">LENGTH</li>
          <li class="yachts-specifications">BUILDER</li>
          <li class="yachts-specifications">BUILT</li>
          <li class="yachts-specifications">GUESTS</li>
          <li class="yachts-specifications">PRICE</li>
          <li class="yachts-specifications">50m(155ft) </li>
          <li class="yachts-specifications">ISA</li>
          <li class="yachts-specifications">2012</li>
          <li class="yachts-specifications">12 in 6 cabins</li>
          <li class="yachts-specifications">€21,000,000</li>
        </ul>
      </li>
       <a href="#rent" class="our-yachts-btn">Yacht rental</a>
  </div>
</section>
