<section class="section yachts" id="yachts">
  <div class="container">
    <h2 class="yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-item">
        <picture class="our-yachts-picture">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../img/yachts/yacht-1.webp    1x,
              ../img/yachts/yacht-1@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              ../img/yachts/yacht-1-desktop.webp    1x,
              ../img/yachts/yacht-1-desktop@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ../img/yachts/yacht-1-tablet.webp  1x,
              /img/yachts/yacht-1-tablet@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ../img/yachts/yacht-1-mobile.webp    1x,
              ../img/yachts/yacht-1-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/yachts/yacht-1.jpg    1x,
              ../img/yachts/yacht-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/yachts/yacht-1-desktop.jpg    1x,
              ../img/yachts/yacht-1-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/yachts/yacht-1-tablet.jpg    1x,
              ../img/yachts/yacht-1-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/yachts/yacht-1-mobile.jpg    1x,
              ../img/yachts/yacht-1-mobile@2x.jpg 2x
            "
          />
          <img src="../img/yachts/yacht-1-mobile.jpg" alt="arrow-yacht" />
        </picture>
        <div class="specifications-subtitle">
          <p class="yachts-name">ARROW</p>
          <p class="yachts-type">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-details-list">
          <li class="yachts-specifications">LENGTH</li>
          <li class="yachts-specifications">BUILDER</li>
          <li class="yachts-specifications">BUILT</li>
          <li class="yachts-specifications">GUESTS</li>
          <li class="yachts-specifications">PRICE</li>
          <li class="yachts-specifications">48m(155ft)</li>
          <li class="yachts-specifications">Admiral</li>
          <li class="yachts-specifications">2021</li>
          <li class="yachts-specifications">11 in 5 cabins</li>
          <li class="yachts-specifications">€33,500,000</li>
        </ul>
      </li>
      <li class="yachts-item hidden-item2">
        <picture class="our-yachts-picture">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../img/yachts/yacht-2.webp    1x,
              ../img/yachts/yacht-2@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              ../img/yachts/yacht-2-desktop.webp    1x,
              ../img/yachts/yacht-2-desktop@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ../img/yachts/yacht-2-tablet.webp  1x,
              /img/yachts/yacht-2-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/yachts/yacht-2.jpg    1x,
              ../img/yachts/yacht-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/yachts/yacht-2-desktop.jpg    1x,
              ../img/yachts/yacht-2-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/yachts/yacht-2-tablet.jpg    1x,
              ../img/yachts/yacht-2-tablet@2x.jpg 2x
            "
          />
          <img
            src="../img/yachts/yacht-2-tablet.jpg"
            alt="benetti-oasis-yacht"
          />
        </picture>
        <div class="specifications-subtitle">
          <p class="yachts-name">BENETTI OASIS 40M BO122</p>
          <p class="yachts-type">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-details-list">
          <li class="yachts-specifications">LENGTH</li>
          <li class="yachts-specifications">BUILDER</li>
          <li class="yachts-specifications">BUILT</li>
          <li class="yachts-specifications">GUESTS</li>
          <li class="yachts-specifications">PRICE</li>
          <li class="yachts-specifications">41m (133ft)</li>
          <li class="yachts-specifications">Benetti</li>
          <li class="yachts-specifications">2025</li>
          <li class="yachts-specifications">10 in 5 cabins</li>
          <li class="yachts-specifications">€23,210,000</li>
        </ul>
      </li>
      <li class="yachts-item hidden-item3">
        <picture class="our-yachts-picture">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="
              ../img/yachts/yacht-3.webp    1x,
              ../img/yachts/yacht-3@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              ../img/yachts/yacht-3-desktop.webp    1x,
              ../img/yachts/yacht-3-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../img/yachts/yacht-3.jpg    1x,
              ../img/yachts/yacht-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/yachts/yacht-3-desktop.jpg    1x,
              ../img/yachts/yacht-3-desktop@2x.jpg 2x
            "
          />
          <img src="../img/yachts/yacht-3-desktop.jpg" alt="belle-anna-yacht" />
        </picture>
        <div class="specifications-subtitle">
          <p class="yachts-name">BELLE ANNA</p>
          <p class="yachts-type">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-details-list">
          <li class="yachts-specifications">LENGTH</li>
          <li class="yachts-specifications">BUILDER</li>
          <li class="yachts-specifications">BUILT</li>
          <li class="yachts-specifications">GUESTS</li>
          <li class="yachts-specifications">PRICE</li>
          <li class="yachts-specifications">50m(155ft)</li>
          <li class="yachts-specifications">ISA</li>
          <li class="yachts-specifications">2012</li>
          <li class="yachts-specifications">12 in 6 cabins</li>
          <li class="yachts-specifications">€21,000,000</li>
        </ul>
      </li>
    </ul>
    <a href="#rent" class="our-yachts-btn nav-link btn">Yacht rental</a>
  </div>
</section>
