<section class="section yachts" id="yachts">
  <div class="container">
    <h2 class="yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-item">
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="img/yachts/yacht-1.webp 1x, img/yachts/yacht-1@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              img/yachts/yacht-1-desktop.webp    1x,
              img/yachts/yacht-1-desktop@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              img/yachts/yacht-1-tablet.webp    1x,
              img/yachts/yacht-1-tablet@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              img/yachts/yacht-1-mobile.webp    1x,
              img/yachts/yacht-1-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="img/yachts/yacht-1.jpg 1x, img/yachts/yacht-1@2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/yachts/yacht-1-desktop.jpg    1x,
              img/yachts/yacht-1-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/yachts/yacht-1-tablet.jpg    1x,
              img/yachts/yacht-1-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              img/yachts/yacht-1-mobile.jpg    1x,
              img/yachts/yacht-1-mobile@2x.jpg 2x
            "
          />
          <img
            class="our-yachts-picture"
            src="img/yachts/yacht-1-mobile.jpg"
            alt="arrow-yacht"
            loading="lazy"
          />
        </picture>
        <ul class="specifications-subtitle">
          <li class="yachts-name">arrow</li>
          <li class="yachts-type">luxury yachts</li>
        </ul>
        <hr />
        <ul class="yachts-details-list">
          <li class="yachts-specifications">
            <p class="yachts-specification">length</p>
            <p class="yachts-specification">builder</p>
            <p class="yachts-specification">built</p>
            <p class="yachts-specification">guests</p>
            <p class="yachts-specification">price</p>
          </li>

          <li class="specifications-values">
            <p class="yachts-value">48m(155ft)</p>
            <p class="yachts-value">Admiral</p>
            <p class="yachts-value">2021</p>
            <p class="yachts-value">11 in 5 cabins</p>
            <p class="yachts-value">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="yachts-item">
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="img/yachts/yacht-2.webp 1x, img/yachts/yacht-2@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              img/yachts/yacht-2-desktop.webp    1x,
              img/yachts/yacht-2-desktop@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              img/yachts/yacht-2-tablet.webp    1x,
              img/yachts/yacht-2-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="img/yachts/yacht-2.jpg 1x, img/yachts/yacht-2@2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/yachts/yacht-2-desktop.jpg    1x,
              img/yachts/yacht-2-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              img/yachts/yacht-2-tablet.jpg    1x,
              img/yachts/yacht-2-tablet@2x.jpg 2x
            "
          />
          <img
            class="our-yachts-picture"
            src="/img/yachts/yacht-2-tablet.jpg"
            alt="benetti-oasis-yacht"
            loading="lazy"
          />
        </picture>
        <ul class="specifications-subtitle">
          <li class="yachts-name">benetti oasis 40m bo122</li>
          <li class="yachts-type">luxury yachts</li>
        </ul>
        <hr />
        <ul class="yachts-details-list">
          <li class="yachts-specifications">
            <p class="yachts-specification">length</p>
            <p class="yachts-specification">builder</p>
            <p class="yachts-specification">built</p>
            <p class="yachts-specification">guests</p>
            <p class="yachts-specification">price</p>
          </li>

          <li class="specifications-values">
            <p class="yachts-value">41m (133ft)</p>
            <p class="yachts-value">Benetti</p>
            <p class="yachts-value">2025</p>
            <p class="yachts-value">10 in 5 cabins</p>
            <p class="yachts-value">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="yachts-item">
        <picture>
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            srcset="img/yachts/yacht-3.webp 1x, img/yachts/yacht-3@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              img/yachts/yacht-3-desktop.webp    1x,
              img/yachts/yacht-3-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="img/yachts/yacht-3.jpg 1x, img/yachts/yacht-3@2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/yachts/yacht-3-desktop.jpg    1x,
              img/yachts/yacht-3-desktop@2x.jpg 2x
            "
          />
          <img
            class="our-yachts-picture"
            src="img/yachts/yacht-3-desktop.jpg"
            alt="belle-anna-yacht"
            loading="lazy"
          />
        </picture>
        <ul class="specifications-subtitle">
          <li class="yachts-name">belle anna</li>
          <li class="yachts-type">luxury yachts</li>
        </ul>
        <hr />
        <ul class="yachts-details-list">
          <li class="yachts-specifications">
            <p class="yachts-specification">length</p>
            <p class="yachts-specification">builder</p>
            <p class="yachts-specification">built</p>
            <p class="yachts-specification">guests</p>
            <p class="yachts-specification">price</p>
          </li>

          <li class="specifications-values">
            <p class="yachts-value">50m(155ft)</p>
            <p class="yachts-value">ISA</p>
            <p class="yachts-value">2012</p>
            <p class="yachts-value">12 in 6 cabins</p>
            <p class="yachts-value">€21,000,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#rent" class="our-yachts-btn nav-link btn">Yacht rental</a>
  </div>
</section>
