/* YACHTS */

.yachts {
    background-color: #0e1823;
}

.yachts-title {
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        max-width: 319px;
        margin-bottom: 40px;
}

.yachts-list {
    display: flex;
}

.yachts-item {
        max-width: 334px;
        background-color: #fbfbfb;
        border-radius: 24px;
}

@media screen and (max-width: 767px) {
      .yachts-item:not(:first-child) {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .yachts-item:last-child {
        display: none;
    }
}

.yachts-name {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.18;
        letter-spacing: -0.04em;
        color: #1b414b;
        text-transform: uppercase;
}

.yachts-type {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #040306;
        opacity: 0.4;
        text-transform: uppercase;
}

hr {
    width: 272px;
    height: 2px;
        stroke: rgba(4, 3, 6, 0.1);
}

.yachts-details-list {
        font-size: 14px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #040306;
}

.yachts-specification {
        font-size: 14px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #040306;
        opacity: 0.4;
        text-transform: uppercase;
}